In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\narges\anaconda3\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import csv
import pymysql

# Define MySQL connection parameters
host = 'host'
user = 'user'
password = 'password'
db_name = 'database_db'

# Establish MySQL connection
connection = pymysql.connect(host='host', user='user', password='password', database='database_db')

# Create cursor object
cursor = connection.cursor()

# Define path to CSV file
csv_file="file_path"

cursor.execute('DROP TABLE IF EXISTS auto;')

# Define query to create new table in database
create_table_query = """CREATE TABLE IF NOT EXISTS auto (
                            id int auto_increment primary key unique,
                            symboling varchar(255),
                            normalized_losses varchar(255),
                            make varchar(255),
                            fuel_type varchar(255),
                            aspiration varchar(255),
                            num_of_doors varchar(255),
                            body_style varchar(255),
                            drive_wheels varchar(255),
                            engine_location varchar(255),
                            wheel_base varchar(255),
                            length varchar(255),
                            width varchar(255),
                            height varchar(255),
                            curb_weight varchar(255),
                            engine_type varchar(255),
                            num_of_cylinders varchar(255),
                            engine_size varchar(255),
                            fuel_system varchar(255),
                            bore varchar(255),
                            stroke varchar(255),
                            compression_ratio varchar(255),
                            horsepower varchar(255),
                            peak_rpm varchar(255),
                            city_mpg varchar(255),
                            highway_mpg varchar(255),
                            price varchar(255)
                        )"""

# Execute table creation query
cursor.execute(create_table_query)

# Open CSV file and read data
with open(csv_file, 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data) # skip header row
    
    # Define query to insert CSV data into database
    insert_query = 'INSERT INTO auto (symboling, normalized_losses, make, fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    
    # Loop through each row of CSV data and insert into MySQL database
    for row in csv_data:
        cursor.execute(insert_query, tuple(row))
        connection.commit()
        
# Commit changes to database


# Close database connection
connection.close()

In [2]:
import csv
import pymysql

# Define MySQL connection parameters
host = 'host'
user = 'user'
password = 'password'
db_name = 'db_name'

def update_csv_to_database(file_path):
    # Establish MySQL connection
    connection = pymysql.connect(host=host, user=user, password=password, database=db_name)

    # Create cursor object
    cursor = connection.cursor()

    # Drop the auto table if it exists
    cursor.execute('DROP TABLE IF EXISTS auto;')

    # Define query to create new table in database
    create_table_query = """CREATE TABLE IF NOT EXISTS auto (
                            id int auto_increment primary key unique,
                            symboling varchar(255),
                            normalized_losses varchar(255),
                            make varchar(255),
                            fuel_type varchar(255),
                            aspiration varchar(255),
                            num_of_doors varchar(255),
                            body_style varchar(255),
                            drive_wheels varchar(255),
                            engine_location varchar(255),
                            wheel_base varchar(255),
                            length varchar(255),
                            width varchar(255),
                            height varchar(255),
                            curb_weight varchar(255),
                            engine_type varchar(255),
                            num_of_cylinders varchar(255),
                            engine_size varchar(255),
                            fuel_system varchar(255),
                            bore varchar(255),
                            stroke varchar(255),
                            compression_ratio varchar(255),
                            horsepower varchar(255),
                            peak_rpm varchar(255),
                            city_mpg varchar(255),
                            highway_mpg varchar(255),
                            price varchar(255)
                        )"""

    # Execute table creation query
    cursor.execute(create_table_query)

    # Open the CSV file for reading
    with open(file_path, 'r') as file:
        # Create a CSV reader object
        reader = csv.reader(file)

        # Skip header row
        next(reader)

        # Define query to insert CSV data into database
        insert_query = 'INSERT INTO auto (symboling, normalized_losses, make, fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'

        # Loop through each row of CSV data and insert into MySQL database
        for row in reader:
            # Replace "?" with None (null)
            row = [x if x != "?" else None for x in row]
            cursor.execute(insert_query, tuple(row))
            connection.commit()

    # Close database connection
        connection.close()


file_path ="file_path"
update_csv_to_database(file_path)

In [1]:
import pandas as pd
import csv
import pymysql

def update_csv_to_database(file_path):
    # Establish MySQL connection
    connection = pymysql.connect(host='your_host_name', user='your_user_name', password='your_password', database='your_database_name')

    # Create cursor object
    cursor = connection.cursor()

    # Drop the auto table if it exists
    cursor.execute('DROP TABLE IF EXISTS auto;')

    # Define query to create new table in database
    create_table_query = """CREATE TABLE IF NOT EXISTS auto (
                            id int auto_increment primary key unique,
                            symboling varchar(255),
                            normalized_losses varchar(255),
                            make varchar(255),
                            fuel_type varchar(255),
                            aspiration varchar(255),
                            num_of_doors varchar(255),
                            body_style varchar(255),
                            drive_wheels varchar(255),
                            engine_location varchar(255),
                            wheel_base varchar(255),
                            length varchar(255),
                            width varchar(255),
                            height varchar(255),
                            curb_weight varchar(255),
                            engine_type varchar(255),
                            num_of_cylinders varchar(255),
                            engine_size varchar(255),
                            fuel_system varchar(255),
                            bore varchar(255),
                            stroke varchar(255),
                            compression_ratio varchar(255),
                            horsepower varchar(255),
                            peak_rpm varchar(255),
                            city_mpg varchar(255),
                            highway_mpg varchar(255),
                            price varchar(255)
                        )"""

    # Execute table creation query
    cursor.execute(create_table_query)

    # Read the CSV file into a pandas dataframe
    auto_df = pd.read_csv(file_path)

    # Define query to insert CSV data into database
    insert_query = 'INSERT INTO auto (symboling, normalized_losses, make, fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    
    # Loop through each row of CSV data and insert into MySQL database
    for row in auto_df.values.tolist():
        # Replace "?" with None (null)
        row = [x if x != "?" else None for x in row]
        
        cursor.execute(insert_query, tuple(row))
        connection.commit()

    # Loop